<!doctype html>
<html>
<head>
    <title>Roof controller</title>

    <style>
input[type=submit] {
    width: 30%;
    height: 4em;
    text-align: center;
    font-size: 80px;
    text-shadow: 3px 3px #FFFFFF;
}
.button_open {
    background-color: #504CAF;
}
.button_stop {
    background-color: #AF4C50;
}
.button_close {
    background-color: #4CAF50;
}
    </style>

</head>
<body>
<h1>Roof controller</h1>
<form method="post" action="/">
    <input type="submit" class="button_open"  value="Open"  name="Open"/>
    <input type="submit" class="button_stop"  value="Stop"  name="Stop"/>
    <input type="submit" class="button_close" value="Close" name="Close"/>
</form>
</body>
</html>